.header{
  background-size: cover;
  display: grid;
  /* text-align: center; */
  /* padding: 1rem 1rem; */
  /* grid-row: 1; */
  /* grid-column: 1; */

}

/* .content{
  width: 400px;
  height: auto;
  grid-column: 1;
  grid-row: 2;
} */

.footer{
  grid-row: 3;
  grid-column: 1;
  padding: 40px;
  place-items: center;
}

.footer-component{
  display: flex;
  align-items: center;
}

.social-logo{
  max-height: 25px;
  max-width: auto;
  padding: 20px;
}

.edit-content{
  padding-top: 10px;
  display: grid;
  max-width: 1200px;
  /* margin: 0 auto; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 2;
  padding: 5px;
  gap: 1px;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 900px){
  .edit-content { 
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px){
  .edit-content {
    grid-template-columns: repeat(1, 1fr);
    
  }
}


.thumbnail{
  /* border-style: solid; */
  /* border-color: white; */
  border-radius: 20px;
  max-width: 90%;
}

.app-container{
  /* border-style: solid;
  border-radius: 20px; */
  display: grid;
  grid-template-areas: 
  "header header"
  "content"
  "footer";
  padding: 20px;
  align-items: center;
  
}

.top-bar-container{
  /* padding: 20px 40px; */
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  /* justify-content: space-between; */
  /* padding-left: 30px; */
  padding-bottom: 30px;
  padding-top: 30px;
  /* padding-left: 30px; */
}


.top-bar-left{
  /* grid-column: 1; */
  /* padding-left: 20px; */
}

.top-bar-right{
  /* padding-left: 40px; */
  /* padding-right: 20px; */
  font-size: 25px;
  padding-right: 40px;
  justify-self: end;
  /* justify-self: end; */
  grid-column: 3;
  font-weight: bolder;
}

@media (max-width: 900px){
  .top-bar-right{
    font-size: 20px;
    /* padding: 20px; */
  }
}

@media (max-width: 600px){
  .top-bar-right{
    font-size: 15px;
    /* padding: auto; */
  }
}


.logo {
  max-width: 500px;     
  /* width: auto;        */
  /* height: auto;         */
  /* display: block;       */
  /* margin: 0 auto;      */
}

/* Add media queries for different screen sizes */
@media  (max-width: 900px) {
  .logo {
    max-width: 350px;    /* Slightly smaller on tablets */
  }
}

@media (max-width: 600px) {
  .logo {
    max-width: 250px;    /* Even smaller on phones */
    padding: 10px 0;   /* Add some vertical spacing */
  }
}

.edit-sample-box{
  /* margin: 0; */
  display: grid;
  /* padding: 5px; */
  /* place-items: center; */
}


.thumb_title{
  padding: 10px;
  font-weight: bold;
  size: 10px;
  color: white;
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* .edit_embed{
  height: 400px;
  width: 600px;
} */

.edit_copy{
  font-size: medium;
  color: white;
  padding-right: 20px;
}

.iframe-container{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* align-items: center; */
  /* width: 100%; */
  /* max-width: 600px; */
}

.iframe {
  /* align-content: center; */
  /* width: 100%; */
  display: block;
  margin: 0 auto;
}

/* .edit-info-container{
  padding: 20px;
} */

.edit-info{
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border-style: solid;
  border-color: white; */
  /* border-radius: 20px; */
 
}

.edit-title-and-text-container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.edit-info-text{
  width: 50%;
  float: right;
  margin-top: 0;
  padding-left: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.edit-info-title{
  padding-right: 20px;
  margin-top: 0;
  width: 50%;
  float: left;
  text-align: right;
  font-size: 10px;
}

/* does this do anything? */
@media (max-width: 600px) {
  .edit-title-and-text-container{
    display: grid;
  }
  .edit-info {
    grid-template-columns: 1fr;
    
  }
  .edit-info-text{
    grid-column: auto;
    text-align: center;
    width: 100%;
  }
  .edit-info-title{
    grid-column: auto;
    text-align: center;
    width: 100%;
  }

}

.nav-button{
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  margin: 0 10px;
  color: white;
  
}

.nav-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;  /* Add some space above the buttons */
}

/* .iframe{
  margin-left: auto;
} */

.about-container{

  padding-top: 10px;
  display: grid;
  max-width: 1200px;
  /* margin: 0 auto; */
  grid-template-columns: 1fr 1fr;
  /* grid-row: 2; */
  padding: 5px;
  gap: 1px;
  margin-left: auto;
  margin-right: auto; 
}

@media (max-width: 900px) {
  .about-container {
    grid-template-columns: 1fr;
  }
}
.about-paragraph{
  padding-left: 20px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
  background-color: black;
  font-weight: bold;
  font-size: 20px;
  /* background: rgba(0,0,0,0.8) */
  /* background-color: rgba(var(--color), 0.8) */
  /* border-style: solid;
  border-radius: 20px; */
}

.about-image{
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* display: flex; */
  /* align-items: center; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 100%; */
  /* max-width: 500px; */
  /* width: 50%; */
}

.ted-pic{

  max-width: 600px;
  width: 100%;
  /* width: 500%; */
  /* max-width: 100%; */
  height: auto;
}