.header{
  background-size: cover;
  display: grid;
  /* text-align: center; */
  padding: 1rem 1rem;
  grid-row: 1;
  grid-column: 1;

}

/* .content{
  width: 400px;
  height: auto;
  grid-column: 1;
  grid-row: 2;
} */

.footer{
  grid-row: 3;
  grid-column: 1;
}

.edit-content{
  display: grid;
  max-width: 1200px;
  /* margin: 0 auto; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 2;
  padding: 5px;
  gap: 1rem;
  /* margin-left: auto;
  margin-right: auto; */
}


@media (max-width: 900px){
  .edit-content { grid-template-columns: repeat(2, 1fr);}
}

@media (max-width: 600px){
  .edit-content { grid-template-columns: repeat(1, 1fr);}
}


.thumbnail{
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  max-width: 90%;
}

.app-container{
  border-style: solid;
  border-radius: 20px;
  display: grid;
  grid-template-areas: 
  "header header"
  "content"
  "footer";
  padding: 20px;
  /* margin: 0 auto;
  max-width: fit-content; */
  place-items: center;
  /* align-items: center; */
}

.top-bar-container{
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  align-items: center;
}

.top-bar-left{
  margin-right: auto;
  margin-left: auto;
}

.top-bar-right{
  margin-right: auto;
  /* margin-left: auto; */
  font-weight: bold;
}

/* .work-about{
  grid-column: 3;
  float: right;
} */

.title{
  max-width: 300px;
  max-height: 200px;
  height: auto;
  width: auto;
  margin-left: auto;
}

.edit-sample-box{
  margin: 0;
  display: grid;
  padding: 5px;
  place-items: center;
}


.thumb_title{
  font-weight: bold;
  size: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* .edit_embed{
  height: 400px;
  width: 600px;
} */

.edit_copy{
  font-size: medium;
  color: white;
}

.iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  padding: 20px;
  border-radius: 20px;
}

.edit-info{
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
}

.edit-info-container{
  padding: 20px;
}

.edit-info-text{
  padding: 10px 50px;
  border-style: solid;
  border-radius: 20px;
}

.nav-button{
  background-color: white;
}

.nav-buttons{
  display: flex;
  justify-content: center;
  gap: 10px; /* Adds space between buttons */
  padding: 10px;
}